<center>
  <h1><%= @keyword.name %></h1>
  <div id="measure">
    <p id="notice"><%= notice %></p>

    <br/>
    <p>
      <b><%= t('latest_value')%>:</b>
      <%= @measurement.value %>
    </p>

    <div id="chart_div" style="width:800; height:600"></div>


    <%= link_to t('back'), measurements_path %>
  </div>
</center>

